table{
    border-collapse: collapse;
    }
    
    table thead tr{
    background-color: blueviolet;
    color: chartreuse;
    }
    
    .stolbec {
    background-color: aqua;
    }
    
    td{
    text-align: center;
     border: 2px solid black;
    }
    
    
    
    #ned2{
        text-align: center;
        border: 2px solid black;
        background-color: blueviolet;
        color: chartreuse;
    }

    .levo{
        text-align: left;
    }
